    <footer>
      <div class="footer-center">

        <p>$FOOTER_YEAR</p>


        <p>Github: <a href="https://github.com/Emiliobocadillo">Emiliobocadillo</a> </p>
        <p>Created By: Emil Høeg Engelbrechtsen</p>
        <p>At: KEA - Computer Science, Fullstack Node.js</p>

        <!-- <img src="../../assets/images/android-chrome-512x512.png" alt=""> -->


      </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
</body>
</html>
